.logo {
  width: 100px;
}

.title {
  font-size: 11px;
}

.side-bar {
  width: 100px;
}

ul {
  list-style-type: none;
  font-size: 11px;
  padding-left: 13px;
}

.first-ul {
  font-size: 11px;
  list-style-type: none;
  padding-top: 20px;
  padding-left: 2px;
}
